<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>chat</title>
</head>
<body>
    <form action="/sendmessage" method="POST" id="postmessage">
        <textarea name="content" id="content" cols="30" rows="10" required></textarea>
        <input type="submit" value="send">
    </form>
    <script src="javascripts/chat.js" type="text/javascript"></script>
</body>
</html>