<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <title>Login</title>
</head>
<body>
    <form method="POST" action="/login">
        <label for="username">username:</label>
        <input id="username" name="username" type="text" required value="papa">
        <label for="password">password:</label>
        <input id="password" name="password" type="password" required value="papa">
        <input type="submit" value="login">
    </form>
</body>
</html>