<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <title>Login</title>
</head>
<body>
    <a href="/register">register</a> |
    <a href="/">back</a>
    <form method="POST" action="/login">
        <label for="username">username:</label>
        <input id="username" name="username" type="text" required value="">
        <label for="password">password:</label>
        <input id="password" name="password" type="password" required value="">
        <input type="submit" value="login">
    </form>
</body>
<script>(function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName))d=d.parentNode;"href"in d&&(d.href.indexOf("http")||~d.href.indexOf(e.host))&&(a.preventDefault(),e.href=d.href)},!1)}})(document,window.navigator,"standalone")</script>
</html>