<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<!--     <link rel="stylesheet" href="/stylesheets/style.css"/> -->
    <style>
        body {
            padding: 50px;
            font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
        }
        a {
            color: #00B7FF;
        }
        input {
            display: block;
        }
        textarea {
            width: 100%;
        }
        img {
            max-width: 128px;
        }
    </style>
    <title>Profile</title>
</head>
<body>
    <h2></h2>
    <img src="" alt=""/>
    <form method="POST" action="/updateAvatar" enctype="multipart/form-data">
        <label for="avatarFile">avatarFile:</label>
        <input id="avatarFile" name="avatarFile" type="file" required >
        <input type="submit" value="send">
    </form>
</body>
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=fetch"></script>
    <script type="text/javascript" src="javascripts/dist/profile.js"></script>
</html>