body {
  padding: 50px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
input {
  display: block;
}
textarea {
  width: 100%;
}
/* Chat elc_containers */
.elc_container {
  border: 2px solid #dedede;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.other {
  border-color: #ccc;
  background-color: #ddd;
}

.me {
  border-color: #dedede;
  background-color: #f1f1f1;
}

/* Clear floats */
.elc_container::after {
  content: "";
  clear: both;
  display: table;
}

/* Style time text */
.time-other {
  float: right;
  color: #aaa;
}

/* Style time text */
.time-me {
  float: left;
  color: #999;
}

/* Style images */
.elc_container img.me {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

/* Style the right image */
.elc_container img.other {
    float: right;
    margin-left: 20px;
    margin-right:0;
}
/* .messageBox {
  margin: 5px 0;
}
.messageBox :nth-child(1) {
  font-weight: bold;
}
.messageBox :nth-child(2) {
  font-size: 0.8em;
}
.other {
  background-color: blueviolet;
}
.me {
  background-color: #00B7FF
} */