body {
  padding: 50px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
input {
  display: block;
}
textarea {
  width: 100%;
}
.messageBox {
  margin: 5px 0;
}
.messageBox :nth-child(1) {
  font-weight: bold;
}
.messageBox :nth-child(2) {
  font-size: 0.8em;
}
.other {
  background-color: blueviolet;
}
.me {
  background-color: #00B7FF
}